<h2><%for tag in @tag_list%><%=tag.name if tag.id==params[:id].to_i%><%end%></h2>

<table>
  <tr>
    <th>Description</th>
    <th>Date</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>

<%for trans in @transaction_list%>
  <tr>
    <td><%=trans.type%>
    <td><%=trans.description%></td>
    <td><%=trans.t_date%></td>
    <td>£
    <%if trans.type=="pay in"%>
      <%=(trans.amount)/100%>
    <%end%>
    <%if trans.type=="purchase"%>
      <%=((trans.amount)/100)*-1%>
    <%end%>
    </td>

<%end%>
<td></td>
<td></td>
</tr>

</table>
