<div class = "screen_placement">

  <h2> All Transactions </h2>
<br>
<br>
<p><a href = "/transactions/date_pick"> Click here to search a specific date range</a></p>
<br><br>
  <table>

      <tr>
        <th>Type</th>
        <th>Date</th>
        <th>Merchant</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Tag Type</th>
        <th></th>
        <th></th>

      </tr>

<!--beginning to see ways I could have added my if/for statements to the controller and return a value.  Think if I had done that I would have been able to jsut say print method? Still not sure about this  -->

      <%@transaction_list.each do |transaction|%>
        <tr>
      <td><a href= <%="/transactions/out" if transaction.type=='Purchase'%><%="/transactions/in" if transaction.type=='Pay in'%>><%=transaction.type%></a></td>
      <td><%=transaction.t_date%></td>
      <td><a href = "/merchants/<%for merchant in @merchant_list %><%=merchant.id if merchant.id ==  transaction.merchant_id.to_i%><%end%>/transactions"><%for merchant in @merchant_list %><%=merchant.name if merchant.id ==  transaction.merchant_id.to_i%><%end%></a></td>
      <td><%=transaction.description%></td>
        <td>£
          <%if transaction.type=="Pay in"%>
            <%=transaction.amount/100%>
          <%end%>
          <%if transaction.type=="Purchase"%>
            <%=(transaction.amount/100)*-1%>
          <%end%>
        </td>
        <td><a href = "/tags/<%for tag in @tag_list %><%=tag.id if tag.id ==  transaction.tag_id.to_i%><%end%>/transactions"><%for tag in @tag_list %><%=tag.name if tag.id == transaction.tag_id.to_i%><%end%></a></td>

        <td><a href = "/transactions/<%=transaction.id%>/edit"> <img src = "/images/icons8-edit-50.png" height="20" width="20"></a></td>

        <td><form method="post" action = "/transactions/delete/<%=transaction.id%>">

            <button type="submit">
              <img src = "/images/icons8-waste-26.png" height="15" width="15">
            </button>
        </form></td>
      <%end%>

      </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>Balance:</td>
    <td>£<%=@balance/100%></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>

</div>
