<h1> all transactions </h1>

<table>
  <tr>
    <th>Type</th>
    <th>Date</th>
    <th>Merchant</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Tag Type</th>
  </tr>

<%@transaction_list.each do |transaction|%>
  <tr>
<td><%=transaction.type%></td>
<td><%=transaction.t_date%></td>
<td><%for merchant in @merchant_list %><%=merchant.name if merchant.id ==  transaction.merchant_id.to_i%><%end%></td>
<td><%=transaction.description%></td>
  <td>£
    <%if transaction.type=="pay in"%>
      <%=(transaction.amount)/100%>
    <%end%>
    <%if transaction.type=="purchase"%>
      <%=((transaction.amount)/100*-1)%>
    <%end%>
  </td>
  <td><%for tag in @tag_list %><%=tag.name if tag.id == transaction.tag_id.to_i%><%end%></td>

  <td><a href = "/transactions/<%=transaction.id%>/edit"> Edit Transaction</a></td>
<%end%>

</tr>

</table>
